@font-face {
    font-family: 'digitalClock';
    src: url(digital-7/digital-7.ttf);
}
.calcBody{
    display: flex;
    width: 350px;
    height: 520px;
    flex-direction: column;
    margin-left: 570px;
    margin-top: 80px;
    padding: 15px;
    padding-bottom: 20px ;
    background-color: #2f3e46; 
    border-radius: 15px;
    box-shadow: 10px 15px 18px #2d6a4f;
}
#display{
    display: flex;
    justify-content: flex-end;
    font-size: 70px;
    font-family: 'digitalClock';
    margin: 10px;
    margin-bottom: 25px;
   padding: 8px;
   border-radius: 10px;
   color: black;
   background-color: #0a9396;
   box-shadow: 0.5px 6px 11px 3px #004645 inset;
}
.buttonCols{
    display: flex;
}
#col1,#col2,#col3,#col4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
#col4{
    display: flex;
    justify-content: space-between;
}

#seven,#four,#one,#zero,#eight,#five,#two,#nine,#six,#three,#reminder,#divide,#multiply,#subtract,#AC,#clear,#equals,#decimal,#add{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #505050;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6c757d;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
 

#seven:hover,#four:hover,#one:hover,#zero:hover,#eight:hover,#five:hover,#two:hover,#nine:hover,#six:hover,#three:hover,
#reminder:hover,#divide:hover,#multiply:hover,#subtract:hover,#AC:hover,#clear:hover,#equals:hover,#decimal:hover,#add:hover{
background-color: #999;
box-shadow: 0 5px #666;
transform: translateY(4px);
  }

#add{
padding-top: 85px;
background-color:  #ee9b00;
}   
#reminder,#divide,#multiply,#subtract,#equals{
    background-color:  #ee9b00;
}
#AC,#clear{
    background-color:#D8D8D7;
}
#AC{
    padding: 15px;
    width: 70px;
    font-size: 20px;
}
#seven,#four,#one,#zero{
    width: 65px;
    margin-left: 11px;
}
#reminder:hover,#divide:hover,#multiply:hover,#subtract:hover,#equals:hover,#add:hover{
    background-color: #e9d8a6;
    color: #ee9b00;
}
.cr{
    text-decoration: none; 
    color: #1C1C1C;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
