.calcBody{
    display: flex;
    border: 2px solid;
    width: 350px;
    height: 450px;
    flex-direction: column;
    margin-left: 500px;
   padding: 15px;
   padding-bottom: 20px ;
    background-color: #1C1C1C; 
}
#display{
    border: 2px #1C1C1C;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 25px;
   padding: 8px;
   color: #fff;
   background-color: #347788;
   box-shadow: 0.5px 6px 11px 3px #004645 inset;
}
.buttonCols{
    display: flex;
}
#col1,#col2,#col3,#col4{
    display: flex;
    border: 2px solid;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25px;
}

#seven,#four,#one,#zero,#eight,#five,#two,#nine,#six,#three,#reminder,#divide,#multiply,#subtract,#AC,#clear,#equals,#decimal,#add{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #505050;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 8px;
}
#seven:hover,#four:hover,#one:hover,#zero:hover,#eight:hover,#five:hover,#two:hover,#nine:hover,#six:hover,#three:hover,
#reminder:hover,#divide:hover,#multiply:hover,#subtract:hover,#AC:hover,#clear:hover,#equals:hover,#decimal:hover,#add:hover
{background-color: #3e8e41}

#seven:hover,#four:hover,#one:hover,#zero:hover,#eight:hover,#five:hover,#two:hover,#nine:hover,#six:hover,#three:hover,
#reminder:hover,#divide:hover,#multiply:hover,#subtract:hover,#AC:hover,#clear:hover,#equals:hover,#decimal:hover,#add:hover{
background-color: #999;
box-shadow: 0 5px #666;
transform: translateY(4px);
  }

#add{
padding-top: 90px;
background-color:  #ffb300;
}   
#reminder,#divide,#multiply,#subtract,#equals{
    background-color:  #ffb300;
}
#AC,#clear{
    background-color:#D8D8D7;
}
#AC{
    padding: 17px 25px;
    width: 70px;
    font-size: 17   px;
}
#seven,#four,#one,#zero{
    width: 65px;
    margin-left: 11px;
}
#reminder:hover,#divide:hover,#multiply:hover,#subtract:hover,#equals:hover,#decimal:hover,#add:hover{
    background-color: #e7e8e9;
    color: #ffb300;
}